<body class="deals">

 <div id="dealstitle">
 <h1>Check it out!</h1>
 <h2>These are the lowest-price rooms around the world for tonight:</h2>
</div>

    <div id="dealsbody">
     <% @price.each do |show| %>
        <table>
            <thead>
            <tr>
                <th></th>
                <th><%= show["name"] %>, <%= show["longDestinationName"] %></th>
            </tr>
            </thead>
                <td><img src="<%= show["imageUrl"] %>" height="100" width="100"></td>
                <td><%= show["description"] %></td>
            </tr>
            <tr class="price">
                <td></td>
                <td>Price: $<%= show["pricePerNight"] %> each night!</td>
            </tr>
        </table>
      <% end %>
    </div>

    <%= link_to 'Back', trips_path %>
</body>
