<body class="city">
<div id="citytitle">
    <h1>City: <em><%= @trip.city %></em><h1>
</div>

<div id="citybody">
 <% @city.each do |f| %>

    <table>
        <thead>
        <tr>
            <th></th>
            <th><%= f["name"] %></th>
        </tr>
        </thead>
        <tr>
            <td><img src="<%= f["imageUrl"] %>" height="100" width="100"></td>
            <td><%= f["description"] %></td>
        </tr>
        <tr class="price">
            <td></td>
            <td>Price: $<%= f["pricePerNight"] %> each night!</td>
        </tr>
    </table>
  <% end %>
<br>
</div>

<%= link_to 'Back', trips_path %>
</body>
